.box{
	height: 100%;
	width: 100%;
	font-size: 20px;
}

.head{
}

.body{
	height: 100%;
	width: 100%;
	postion: absolute;
	overflow: auto;
	margin-bottom: 7%;
	box-sizing: border-box;
}

.foot{
	text-align: center;
	width: 100%;
	position: fixed;
  	bottom: 0;
	background: white;			
}

.send{
	max-width: 100%;
	padding: 20px 17%;
}

.receive{
	max-width: 100%;
	padding: 20px 17%;
	background:  #f0f0f0; 
}

input[type="text"]{
	width: 70%;
	padding: 15px;
	border-radius: 10px;
	font-size: 20px;
	margin: 0px 0px 3% 0px;
	
}
button{
	position: absolute;
	top: 20%;
	right: 15%;
}


.intro_head{
	text-align: center;
}

.intro_body{
	text-align: center;
	& h4{
		
	}
}

h1,h3{
	text-align: center;
}