<!DOCTYPE html>
<html lang="en">

	<head>
		<link rel="stylesheet" href="static/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta charset="UTF-8">
		<title>Funny Chatbot</title>
	</head>

	<body>
		<div class="box">
		
			<div class="intro_head">
				<h1>Funny Chatbot</h1>
			</div>	

			<div class="intro_body">
			   
				<h4>Are you feeling sad, bored, tense or you just want to lighten up. Don't worry! Talk to me.</h4>					
		
			</div>
				
			<div class="foot">
				<form action="/" method="post">
					<input type="text" placeholder="send a message" name="send"/>
					<button type="submit">send</button>
				</form>						
			</div>
		</div>
		
	</body>

</html>

